
<!-- <p class="icon-cont"> 
  <canvas id="0" class="icon-canvas" attr.data-sectionvalue="{{weather.icon}}"></canvas> 
</p>  -->
<div *ngIf="weatherToday">
  
  <h1 class="location">{{weatherToday.now.location}}</h1> 
  <p class="time">{{weatherToday.now.time}}</p> 
  <p class="temp">{{weatherToday.now.temperature}}</p> 
  <p class="summary">{{weatherToday.now.summary}}</p> 
  <p class="apparent">Feels like: {{weatherToday.now.apparentTemperature}}</p> 
  <p *ngIf="!!weatherToday.precipType" class="precipitation">{{weatherToday.precipProbability}} of {{weatherToday.precipType}}</p> 
  <p class="hi"><b>H</b> {{weatherToday.temperatureMax}} @ {{weatherToday.temperatureMaxTime}}</p> 
  <p class="lo"><b>L</b> {{weatherToday.temperatureMin}} @ {{weatherToday.temperatureMinTime}}</p>
  <br>
  <div class="alerts">Alerts: 
    <ul *ngFor="let alert of alerts;">
      <li class="collection-item alert"> 
        <a class="alert-left" href="{{alert.uri}}">{{alert.title}}</a> 
        <div class="alert-right">ends {{alert.expires}}</div> 
      </li>
    </ul>
  </div>


</div>
