
<div class="container-fluid">
  <div class="navbar">
    <form #searchForm (ngSubmit)="searchWeather()">
      <input type="text" name="searchBox" placeholder="Enter a place" [(ngModel)]="place">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="navbar-clear"></div>
    <app-authentication [newSearch]="searchData" (onRecentSearchSelected)="doRecentSearch($event)" (onAuthenticateUser)="setCurrentUser($event)" (onLogoutUser)="logoutUser()"></app-authentication>
    <h1 style="text-align: center;">SkyCast Weather</h1>

    <div class="row">
      <div class="col-lg-6 col-sm-12 main">
       <app-weather-main [data]="todayData" [alerts]="alertData"></app-weather-main>
      </div>
      <div class="col-lg-2 col-sm-4 misc">
       <app-weather-misc [data]="miscData"></app-weather-misc>
      </div>
      <div class="col-lg-4 col-sm-8 hourly">
       <app-weather-hourly [data]="hourlyData"></app-weather-hourly>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 forecast">
       <app-weather-forecast [data]="forecastData"></app-weather-forecast>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 historic">
       <app-chart *ngIf="chartData" [data]="chartData"></app-chart>
      </div>
    </div>


</div>
