
<div *ngIf="weatherMisc">
  
<h1 class="location">Today</h1>
<p class="cloud-cover">Cloud Coverage:  {{weatherMisc.now.cloudCover}} </p>
<p class="humidity">Humidity:  {{weatherMisc.now.humidity}} </p>
<p class="wind-speed">Wind Speed:  {{weatherMisc.now.windSpeed}} </p>
<p class="wind-direction">Wind Bearing:  {{weatherMisc.now.windBearing}} °</p>
<p class="pressure">Pressure:  {{weatherMisc.now.pressure}} </p>
<p class="dew">Dew Point:  {{weatherMisc.now.dewPoint}} </p>
<p class="visibility">Visibility:  {{weatherMisc.now.visibility}} </p>
<p class="ozone">Ozone:  {{weatherMisc.ozone}} </p>
<p class="sunrise">Sunrise:  {{weatherMisc.sunriseTime}} </p>
<p class="sunset">Sunset:  {{weatherMisc.sunsetTime}} </p>
</div>
