<h1 class="location">Today</h1>
<p class="cloud-cover">Cloud Coverage:  {{weatherMisc.cloudCover}} </p>
<p class="humidity">Humidity:  {{weatherMisc.humidity}} </p>
<p class="wind-speed">Wind Speed:  {{weatherMisc.windSpeed}} </p>
<p class="wind-direction">Wind Bearing:  {{weatherMisc.windBearing}} °</p>
<p class="pressure">Pressure:  {{weatherMisc.pressure}} </p>
<p class="dew">Dew Point:  {{weatherMisc.dewPoint}} </p>
<p class="visibility">Visibility:  {{weatherMisc.visibility}} </p>
<p class="ozone">Ozone:  {{weatherMisc.ozone}} </p>
<p class="sunrise">Sunrise:  {{weatherMisc.sunriseTime}} </p>
<p class="sunset">Sunset:  {{weatherMisc.sunsetTime}} </p>
